In [1]:
import numpy as np
#Incase string data in numpy library use char after "np.char.what you want

In [2]:
str1="SHAHNAWAZ KHAN"
str2="ASMIR KHAN"

In [3]:
print(str1)
print(str2)

SHAHNAWAZ KHAN
ASMIR KHAN

In [5]:
np.char.lower(str1)

array('shahnawaz khan', dtype='<U14')

In [9]:
#(1)Addition of two string
np.char.add(str1,str2)

array('SHAHNAWAZ KHANASMIR KHAN', dtype='<U24')

In [10]:
#(2)center= To bring the selected string in center
np.char.center(str1,30)

array('        SHAHNAWAZ KHAN        ', dtype='<U30')

In [11]:
#To fill the white space what we want
np.char.center(str1,30,fillchar="*")

array('********SHAHNAWAZ KHAN********', dtype='<U30')

In [12]:
#Split()
np.char.split(str1)

array(list(['SHAHNAWAZ', 'KHAN']), dtype=object)

In [13]:
#We are facing problem in case(1) i.e string are getting join 
np.char.splitlines("Hi\nAsmir")

array(list(['Hi', 'Asmir']), dtype=object)

In [14]:
#(4)join
str3="dmy"
str4="dmy"

In [17]:
np.char.join([":","/"],[str3,str4])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [18]:
#(5)Replace
np.char.replace(str1,"KHAN","FATHAN")

array('SHAHNAWAZ FATHAN', dtype='<U16')

In [19]:
#comparison
np.char.equal(str3,str4)

array(True)

In [20]:
#String Information
np.char.count(str1,"A")

array(4)

In [21]:
#Find
np.char.find(str1,"A")

array(2)